html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #FAFAFA;
  font-family: 'Assistant', sans-serif;
}

.header-area .main-menu .navbar {
  padding: 0rem 5rem;
}

.header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
  color: #6807F9;
  font-weight: bold;
}

.header-area .main-menu .nav-item .nav-link {
  color: #393E46;
  font-size: 20px;
  padding: 1.5rem;
}

.header-area .main-menu .nav-item .nav-link:hover {
  color: #6807F9;
}

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: #000;
  display: inline-block;
  margin-left: 5%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 4rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1rem;
}

.site-main .site-banner .banner-img img {
  padding: 3rem 0;
  width: 25rem;
}

.title-text {
  color: #6807F9;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn-outline-primary {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.btn-outline-primary:hover {
  background: #FFFFFF;
  color: #6807F9;
}

.site-main .about-area {
  margin-top: 120px;
  padding: 5rem 0;
  background: #6807F9;
}

.site-main .about-area .about-title {
  color: white;
  padding-left: 25px;
}

.site-main .about-area .about-title .paragraph {
  padding: 1rem 0;
}

.site-main .about-area .about-img {
  padding-left: 8rem;
}

.site-main .about-area .about-img img {
  width: 25rem;
}

.skills-area {
  margin-top: 100px;
  color: #393E46;
}

.skills-area .skills-title {
  color: #6807F9;
}

.skills-area h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.skills-area .skills-container {
  border: 1px solid #6807F9;
  border-radius: 5px;
  padding: 0.7rem;
  margin-bottom: 120px;
}

.skills-area .skills-container .row {
  padding-top: 2rem;
}

.skills-area .skills-container ul {
  list-style: none;
  margin-top: -10px;
  margin-bottom: 20px;
}

.skills-area .skills-container ul li {
  margin-left: -25px;
}

.skills-area .skills-container .skills-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.projects-area {
  min-height: 500px;
  margin-top: 150px;
  background-color: #6807F9;
  color: white;
  padding-bottom: 50px;
}

.projects-area h2 {
  padding-top: 40px;
}

.projects-area .card {
  color: #393E46;
  margin: 20px;
}

.projects-area .card h5 {
  font-weight: bold;
}

.projects-area .card h6 {
  padding-bottom: 10px;
}

.experiences-area {
  margin-top: 100px;
}

.experiences-area h2 {
  color: #6807F9;
}

.experiences-area .row {
  padding-top: 40px;
}

.experiences-area .card-title {
  color: #6807F9;
}

.experiences-area .card-text {
  padding: 1rem;
}

.footer {
  margin-top: 150px;
  border-top: 1px solid #837DFF;
}

.footer .quote {
  padding-top: 30px;
  color: #6807F9;
}

.footer .social-media-logo {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 1rem 0;
}

.footer .social-media-logo a {
  color: #6807F9;
}

.footer .copyright {
  font-size: 16px;
}

@media only screen and (max-width: 340px) {
  .navbar {
    display: none;
  }
  .site-banner {
    margin-top: -30px !important;
  }
  .site-banner h3 {
    font-size: 30px;
  }
  .site-banner h1 {
    font-size: 50px !important;
  }
  .site-banner h4 {
    font-size: 18px !important;
  }
  .about-area {
    margin: 0 !important;
  }
  .about-area .about-img {
    padding-left: 20px !important;
    margin-top: -20px !important;
    margin-bottom: 20px;
  }
  .skills-area {
    margin-top: 30px;
  }
  .skills-area .skills-container {
    margin-bottom: 50px !important;
  }
  .projects-area {
    margin-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .experiences-area {
    margin-top: 30px;
  }
  .experiences-area h2 {
    margin-bottom: -10px;
  }
  .experiences-area .card {
    margin-bottom: 20px;
  }
  .footer {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 340px) and (max-width: 768px) {
  .navbar, .navbar-brand {
    padding: 0 !important;
  }
  .navbar-brand {
    padding: 1rem !important;
  }
  .navbar-toggler {
    margin-right: 1rem !important;
  }
  .site-main .site-banner h3 {
    padding-top: 10% !important;
    font-size: 30px !important;
  }
  .site-main .site-banner h1 {
    font-size: 50px !important;
  }
  .site-main .site-banner h4 {
    font-size: 18px !important;
  }
  .site-main .site-banner .banner-img {
    max-width: 50%;
  }
  .about-area {
    margin-top: 0px !important;
  }
  .about-area .about-img {
    padding-left: 30px !important;
    margin-bottom: 20px !important;
    max-width: 50%;
  }
  .about-area .about-title {
    margin-left: 10px !important;
  }
  .skills-area {
    margin-top: 30px;
  }
  .skills-area .skills-container {
    margin-bottom: 50px !important;
  }
  .projects-area {
    margin-top: 30px !important;
    padding-bottom: 50px;
  }
  .experiences-area {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .experiences-area h2 {
    margin-bottom: -10px;
  }
  .experiences-area .card {
    margin-bottom: 20px;
  }
  .footer {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */